.starTitle h1 {
	letter-spacing: 0;
	font-size: 5rem;
}

.logo_white {
	font-size: 3rem;
	color: white;
	font-weight:400;
}

.logo_white:hover {
	color: #bb9b69;
	text-decoration:none;
}

.btn-round {
	border-radius: 1.3rem;
}

.preloadimg img {
    display: block;
    background-image: url(../../assets-frontend/img/spinner.gif);
    background-repeat: no-repeat;
    background-position: center center;
	min-width: 510px;
    min-height: 510px;
}

.breadcrumb.breadcrumb-fullscreen {
    background-color: black !important;
}

.contactTop .contactInfo ul li a {
    padding-left: 10rem;
}

.has-error {
  color: #b94a48; !important;
  border-color: #b94a48 !important;
  border: 2px solid #b94a48 !important;
  border-bottom: 1px solid #b94a48!important;
}

.event-text {
  text-decoration: none;
  color: #757575 !important;
  font-family: 'Karla', sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
}

.icon-link-short-menu {
	font-size: 26px;
	color: #757575;
	text-decoration: none !important;	
}

.icon-link-short-menu:hover {
	color: #bb9b69;
}

.icon-link-short-menu-icon {
	font-size: 80px !important;
}

.link-short-menu {
	text-align: center;	
}

.events-div {
	text-decoration: none;
    color: #757575 !important;
    font-family: 'Karla', sans-serif !important;
    font-weight: 400 !important;
    font-size: 1.8rem !important;
    border-style: dotted;
    border-width: 1px 0px 1px 0px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

.events-div-title {
    font-size: 2rem !important;
    font-weight: bold !important;
    color: #bb9b69 !important;
}

.events-div-title-bold {
    font-weight: bold !important;
    font-size: 2.2rem !important;
}

.events-div-child {
	margin-bottom: 10px;
} 

.events-div-button, .events-div-button:visited {
	webkit-transition-delay: 0;
    transition-delay: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: #fff !important;
    background-color: #000;
	padding: 0.4rem 1.5rem;
    border-radius: 1.3rem;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none !important;
}

.events-div-button:hover {
    color: #fff;
    background: #bb9b69;
    text-decoration: none;
}    

.mobile-hide {
	display: block;
}

.mobile-show {
	display: none;
}
/***********************************************************************************************/
/* END MEDIA QUERY */
/***********************************************************************************************/
@media (max-width: 500px) {
	.logo_white {
		font-size: 1.5rem !important;
	}
	
	.link-short-menu {
		padding-bottom: 25px;
	}
	
	.mobile-hide {
		display: none;
	}
	
	.mobile-show {
		display: block;
	}
}	

@media (max-width: 320px) {
	.logo_white {
		font-size: 1rem !important;
	}
	
	.starTitle h1 a {
    	font-size: 10px !important;
    	letter-spacing: 1px !important;
  	}
}

@media (min-width: 500px) and (max-width: 768px) {
	.mobile-hide {
		display: none;
	}
	
	.mobile-show {
		display: block;
	}
	
	.starTitle h1 a {
    	font-size: 24px !important;
    	letter-spacing: 1px !important;
  	}
  	
  	.link-short-menu {
  		width: 20% !important;
  		float: left !important;
  	}
}	

@media (min-width: 769px) and (max-width: 1024px) {
	.mobile-hide {
		display: none;
	}
	
	.mobile-show {
		display: block;
	}
	
	.topHeader {
		background-color: black;
	}
	
	.starTitle h1 a {
    	font-size: 24px !important;
    	letter-spacing: 1px !important;
  	}
  	
  	.link-short-menu {
  		width: 20% !important;
  		float: left !important;
  	}
  	
  	.container-short-menu .col-sm-offset-1 {
  		margin-left: 0px !important;
  	}
}
/***********************************************************************************************/
/* END MEDIA QUERY */
/***********************************************************************************************/